@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-white-color: #f2f2f2;
  --text-grey-color: #37352F;
  --placeholder-grey-color: #A1A1AA;
}
@layer components {
  .layout {
    @apply grid grid-cols-[minmax(40px,1fr)_minmax(auto,708px)_minmax(40px,1fr)] sm:grid-cols-[minmax(96px,1fr)_minmax(auto,708px)_minmax(96px,1fr)];
  }
}